@"
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
*.sqlite3

# Django
staticfiles/
media/

# Virtual env
venv/
.venv/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
"@ | Out-File -Encoding utf8 ".gitignore"
